<div class="sample-column">
    <igx-navbar [isActionButtonVisible]="false" title="Marketing Dashboard">
        <strong>
            Get customer segments for the last: 
        </strong>
        <igx-buttongroup>
            <button igxButton igxRipple [selected]="true">
                1 Week
            </button>

            <button igxButton igxRipple>
                1 Month
            </button>
    
            <button igxButton igxRipple>
                3 Months
            </button>

            <button igxButton igxRipple>
                Year
            </button>

        </igx-buttongroup>
    </igx-navbar>
</div>