<div class="statistics-main" style="overflow-y: auto;">
  <app-nav></app-nav>

  <div class="content">
    <div class="cluster-container" style="display: flex;  padding: .5rem">
      <igx-grid class="user-table" [primaryKey]="'id'" [isLoading]="isRFMLoading" [data]='clusterData'
        displayDensity="cosy" width="50%" height="250px">
        <igx-column *ngFor="let item of clusterColumns; let i=index" [header]="item" [field]="item"
          [sortable]="i !== 0  ? true : false"></igx-column>
      </igx-grid>

      <div class="chart-container">
        <div class="pie-chart">
          <igx-pie-chart #pieChart1 [legend]="legend123" (sliceClick)="sliceClick($event)" height="100%" [labelsPosition]="3"
            title="Cluster Volume" width="100%" allowSliceExplosion="true" [dataSource]="clusterData"
            valueMemberPath="Volume" labelMemberPath="Cluster ID">
          </igx-pie-chart>
        </div>
        <div class="legend">
          <igx-item-legend #legend123 height="100px" width="100px">
          </igx-item-legend>
        </div>
      </div>
    </div>
    <div class="data-container" style="display: flex; flex-flow:column; padding: 1rem; margin-top: .5rem">
      <igx-grid #grid class="user-table" [primaryKey]="'ID'" [isLoading]="isCustomersLoading" [data]='userData' [displayDensity]="'cosy'" width="100%" height="600px">

        <igx-column field="FirstName" header="First Name"></igx-column>
        <igx-column field="LastName" header="Last Name"></igx-column>
        <igx-column field="Email" header="Email"></igx-column>

        <ng-template #md igxGridDetail let-dataItem>
          <div style="width:100%;" (keydown)='$event.stopPropagation()'>
            <igx-tabs #tabs selectedIndex='0'>
              <igx-tabs-group label="Details">
                <div class="tabContent">
                  <div class="avatarContainer">
                    <igx-avatar icon="mood" roundShape="false" size="small"></igx-avatar>
                    <h6>{{dataItem?.FirstName}} {{dataItem?.LastName}}</h6>
                  </div>
                  <igx-divider [vertical]="true"></igx-divider>
                  <div class="tabInnerContent">
                    <div class="breathingcontent">
                      <div><span class="categoryStyle">Country:&nbsp;</span><span>{{dataItem?.Location.country}}</span>
                      </div>
                      <div><span class="categoryStyle">City:&nbsp;</span><span>{{dataItem?.Location.city}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </igx-tabs-group>
              <igx-tabs-group label="Purchased Items">
                <div class="tabContent" style="flex-direction: column;">
                     <igx-category-chart height="250px"
                      [dataSource]="dataItem['Invoice'] | squash"
                      xAxisInterval="1"
                      xAxisTitle="Product Name"
                      yAxisTitle="Product Value"
                      [includedProperties]="['Value', 'Product']"
                      isHorizontalZoomEnabled="false" isVerticalZoomEnabled="false">
                  </igx-category-chart>
                </div>
              </igx-tabs-group>
              <igx-tabs-group label="Purchase History">
                <div class="tabContent" style="flex-direction: column;">
                  <igx-category-chart height="250px"
                      [dataSource]="dataItem['Invoice']" 
                      chartType="Line" xAxisInterval="1"
                      xAxisTitle="Purchase Date"
                      yAxisTitle="Value"
                      [brushes]="['rgb(0, 111, 138)', 'rgb(171, 223, 29)']"
                      [crosshairsSnapToData]="false"
                      [crosshairsDisplayMode]="'Both'" [crosshairsAnnotationEnabled]="true"
                      isHorizontalZoomEnabled="false" isVerticalZoomEnabled="false">
                  </igx-category-chart>
              </div>
              </igx-tabs-group>
            </igx-tabs>
          </div>
        </ng-template>

      </igx-grid>
    </div>
  </div>
</div>

<ng-template #emptyTemplate>
  <div style="width: 100%; height: 100%; display: flex">
    <span style="margin: auto">Click on a cluster to get customers purchase information</span>
  </div>
</ng-template>
