<div class="statistics-main">
    <app-nav></app-nav>

    <div class="data-container">
        <div class="dv-conatiner">
            
        </div>
        <div class="user-grid-container">
            <igx-grid class="user-table" displayDensity="cosy" [data]='userData' width="100%" height="600px">
                <igx-column field="first_name" header="First Name"></igx-column>
                <igx-column field="last_name" header="Last Name"></igx-column>
                <igx-column field="email" header="Email"></igx-column>
                <igx-column field="location.country" header="Country"></igx-column>
                <igx-column field="location.city" header="City"></igx-column>
                <ng-template igxGridDetail let-dataItem>
                    <div style="width:100%;" (keydown)='$event.stopPropagation()' [style.height.px]='250'>
                        <igx-tabs #tabs selectedIndex='0' type="fixed">
                            <igx-tabs-group label="Details">
                                <div class="tabContent">
                                    <div class="avatarContainer">
                                        <igx-avatar icon="mood"
                                            roundShape="false" size="small"></igx-avatar>
                                        <h6>{{dataItem?.first_name}} {{dataItem?.last_name}}</h6>
                                    </div>
                                    <igx-divider [vertical]="true"></igx-divider>
                                    <div class="tabInnerContent">
                                        <div class="breathingcontent">
                                            <div><span
                                                    class="categoryStyle">Country:&nbsp;</span><span>{{dataItem?.location.country}}</span>
                                            </div>
                                            <div><span class="categoryStyle">City:&nbsp;</span><span>{{dataItem?.location.city}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </igx-tabs-group>
                            <igx-tabs-group label="Purchased Items">
                                <div class="tabContent">
                                    Hellooooooooo!
                                </div>
                            </igx-tabs-group>
                            <igx-tabs-group label="Purchase History">
                                <div class="tabContent" style="flex-direction: column;">
                                    Goodbye
                                </div>
                            </igx-tabs-group>
                        </igx-tabs>
                    </div>
                </ng-template>
            </igx-grid>
        </div>
    </div>
</div>